{
    "swagger": "2.0",
    "info": {
        "title": "MeetingPal API",
        "description": "This is the documentation for the MeetingPal API.",
        "version": "1.0.9"
    },
    "host": "api.meetingpal.app",
    "basePath": "/",
    "securityDefinitions": {
        "bearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""
        }
    },
    "paths": {
        "/auth/login": {
            "post": {
                "tags": ["Auth"],
                "summary": "Login User",
                "description": "Logs user in and generates an access token.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "User login credentials",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": { "type": "string" },
                                "password": { "type": "string" }
                            },
                            "required": ["email", "password"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User found and returns token",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "accessToken": { "type": "string" }
                            }
                        }
                    },
                    "400": {
                        "description": "Client content error"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/meetings/:meetingId": {
            "get": {
                "tags": ["Meetings"],
                "summary": "Fetch a meeting.",
                "description": "Fetches a meeting.",
                "responses": {
                    "200": {
                        "description": "Fetched the meeting successfully",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "meeting": { "type": "object" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/venue/authenticate-code": {
            "post": {
                "tags": ["Meetings"],
                "summary": "Authenticate a meeting venue code.",
                "description": "Will return true if the code provided matches the meeting venue code.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": { "type": "string", "description": "4 digit code" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Match Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "match": { "type": "boolean" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/configure-room": {
            "patch": {
                "tags": ["Caller"],
                "summary": "Update room details",
                "description": "This will update a caller session with new information.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "allowAllToSeeRaisedHands": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated room data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/recording/status": {
            "get": {
                "tags": ["Caller", "Recording"],
                "summary": "Get call recording status",
                "description": "If the call is currently being recorded, the result would be true",
                "responses": {
                    "200": {
                        "description": "Successfully fetch recording status",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "recording": { "type": "boolean" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/enable-chat": {
            "patch": {
                "tags": ["Caller"],
                "summary": "Enable or disable the caller chat",
                "description": "Enable or disable the caller chat.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enable": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated caller data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/enable-audio-fixer": {
            "patch": {
                "tags": ["Caller"],
                "summary": "Enable or disable the caller audio fixer",
                "description": "Enable or disable the caller audio fixer.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enable": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated caller data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/enable-qa": {
            "patch": {
                "tags": ["Caller"],
                "summary": "Enable or disable the caller QA",
                "description": "Enable or disable the caller question and answers section.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enable": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated caller data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/set-status": {
            "post": {
                "tags": ["Caller"],
                "summary": "Trigger call end or start",
                "description": "This will end or start the meeting call.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pingCaller": {
                                    "type": "boolean",
                                    "description": "If true, then the voice caller will be sent a request, otherwise only MeetingPal will receive an update request."
                                },
                                "startCall": {
                                    "type": "boolean",
                                    "description": "If true, then the call will be restarted if it was ended."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully requested call end",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/refresh": {
            "post": {
                "tags": ["Caller"],
                "summary": "Trigger caller refresh",
                "description": "This will trigger a caller room to refresh its data. Useful when data is not aligned with what is seen in MeetingPal.",
                "responses": {
                    "200": {
                        "description": "Successfully requested refresh",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/units": {
            "get": {
                "tags": ["Units"],
                "summary": "Fetch meeting units.",
                "description": "Fetches units from a meeting.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit amount of units returned in result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Units successfully fetched",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "units": { "type": "object" },
                                        "limit": { "type": "integer" },
                                        "page": { "type": "integer" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees": {
            "get": {
                "tags": ["Attendees"],
                "summary": "Fetch meeting attendees.",
                "description": "Fetches attendees from a meeting.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit amount of units returned in result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee(s) successfully fetched",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "attendees": { "type": "object" },
                                        "limit": { "type": "integer" },
                                        "page": { "type": "integer" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/upload/suspensions": {
            "post": {
                "tags": ["Attendees"],
                "summary": "Upload suspensions.",
                "description": "Upload suspensions via excel spreadsheet. This will update existing attendees, requires specific structure (row headers should have these titles: 'email', 'name', 'suspended', 'special', 'unanimous'), will not create attendees who have yet to be added.",
                "consumes": ["multipart/form-data"],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "type": "file",
                        "required": true,
                        "description": "The Excel file to upload."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendees have been updated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/make-call-admin": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Make/revoke attendee admin status on call.",
                "description": "Make an attendee admin on the voice call for a meeting.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "makeAdmin": { "type": "boolean" }
                            },
                            "required": ["makeAdmin"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee set as admin",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/add-to-panel": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Add/remove an attendee panel member status on video call.",
                "description": "Add/remove an attendee panel member status on video call.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "addToPanel": { "type": "boolean" }
                            },
                            "required": ["addToPanel"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee added to the panel",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/suspensions": {
            "get": {
                "tags": ["Attendees"],
                "summary": "Get the suspension status of an attendee.",
                "description": "Get the suspension statuses of an attendee.",
                "responses": {
                    "200": {
                        "description": "Attendee suspension statuses",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "_id": { "type": "string" },
                                        "suspended": { "type": "boolean" },
                                        "special_suspended": { "type": "boolean" },
                                        "unanimous_suspended": { "type": "boolean" },
                                        "poll_suspended": { "type": "boolean" }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Attendees"],
                "summary": "Updates the suspension status of an attendee.",
                "description": "Updates the suspension status of an attendee.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "suspended": { "type": "boolean" },
                                "special_suspended": { "type": "boolean" },
                                "unanimous_suspended": { "type": "boolean" },
                                "poll_suspended": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The suspension status of the attendee was updated",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/set-physical": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Add/remove an attendee as in physical attendance.",
                "description": "Add/remove physical attendance status from an attendee.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "physical": { "type": "boolean" }
                            },
                            "required": ["physical"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee added to the panel",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/create": {
            "post": {
                "tags": ["Meetings"],
                "summary": "Create a meeting.",
                "description": "Create a new meeting.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "description": { "type": "string" },
                                "date": { "type": "string" },
                                "templateId": { "type": "string" },
                                "invoiceId": { "type": "string" },
                                "closeDate": { "type": "string" }
                            },
                            "required": ["description", "date", "invoiceId"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New meeting created successfully",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "meetingId": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/invoices/create": {
            "post": {
                "tags": ["Invoices"],
                "summary": "Create a new invoice.",
                "description": "Create a new invoice.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "communitySchemeType": { "type": "string" },
                                "meetingTitle": { "type": "string" },
                                "liveStreamEmbedEnabled": { "type": "boolean" },
                                "whatsappEnabled": { "type": "boolean" },
                                "videoCallEnabled": { "type": "boolean" },
                                "chairSupport": { "type": "boolean" },
                                "chatEnabled": { "type": "boolean" },
                                "aiChatEnabled": { "type": "boolean" },
                                "observersEnabled": { "type": "boolean" },
                                "setupSupport": { "type": "string" },
                                "inPersonSupport": { "type": "boolean" },
                                "virtualSupport": { "type": "boolean" },
                                "supportHours": { "type": "number" },
                                "supportingPals": { "type": "boolean" },
                                "numberOfAttendees": { "type": "number" },
                                "billingAddress": { "type": "string" },
                                "billingCity": { "type": "string" },
                                "billingCountry": { "type": "string" },
                                "billingPostCode": { "type": "string" },
                                "complexName": { "type": "string" },
                                "userEmail": { "type": "string" },
                                "firstName": { "type": "string" },
                                "lastName": { "type": "string" },
                                "managingAgent": { "type": "string" },
                                "forType": { "type": "string" },
                                "testMeeting": { "type": "boolean" }
                            },
                            "required": [
                                "communitySchemeType",
                                "meetingTitle",
                                "liveStreamEmbedEnabled",
                                "whatsappEnabled",
                                "videoCallEnabled",
                                "chairSupport",
                                "chatEnabled",
                                "aiChatEnabled",
                                "observersEnabled",
                                "setupSupport",
                                "inPersonSupport",
                                "virtualSupport",
                                "supportHours",
                                "supportingPals",
                                "numberOfAttendees"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New invoice created  successfully",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "invoiceId": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/users/:userId/managers": {
            "patch": {
                "tags": ["users"],
                "summary": "Add manager to user account",
                "description": "This will add a manager to a user account.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": { "type": "string" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully added new manager",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/users/:userId/managers/:managerId": {
            "delete": {
                "tags": ["users"],
                "summary": "Remove manager from user account",
                "description": "This will remove a manager from a user account.",
                "responses": {
                    "200": {
                        "description": "Successfully removed manager",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        }
    }
}
