{
    "swagger": "2.0",
    "info": {
        "title": "MeetingPal API",
        "description": "This is the documentation for the MeetingPal API.",
        "version": "1.2"
    },
    "host": "api.meetingpal.app",
    "basePath": "/",
    "securityDefinitions": {
        "bearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""
        }
    },
    "paths": {
        "/auth/login": {
            "post": {
                "tags": ["Auth"],
                "summary": "Login User",
                "description": "Logs user in and generates an access token.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "User login credentials",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": { "type": "string" },
                                "password": { "type": "string" }
                            },
                            "required": ["email", "password"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User found and returns token",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "accessToken": { "type": "string" }
                            }
                        }
                    },
                    "400": {
                        "description": "Client content error"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/meetings/:meetingId": {
            "get": {
                "tags": ["Meetings"],
                "summary": "Fetch a meeting.",
                "description": "Fetches a meeting.",
                "responses": {
                    "200": {
                        "description": "Fetched the meeting successfully",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "meeting": { "type": "object" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/configure-room": {
            "patch": {
                "tags": ["Caller"],
                "summary": "Update room details",
                "description": "This will update a caller session with new information.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "allowAllToSeeRaisedHands": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated room data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/set-status": {
            "post": {
                "tags": ["Caller"],
                "summary": "Trigger call end or start",
                "description": "This will end or start the meeting call.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pingCaller": {
                                    "type": "boolean",
                                    "description": "If true, then the voice caller will be sent a request, otherwise only MeetingPal will receive an update request."
                                },
                                "startCall": {
                                    "type": "boolean",
                                    "description": "If true, then the call will be restarted if it was ended."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully requested call end",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/caller/refresh": {
            "post": {
                "tags": ["Caller"],
                "summary": "Trigger caller refresh",
                "description": "This will trigger a caller room to refresh its data. Useful when data is not aligned with what is seen in MeetingPal.",
                "responses": {
                    "200": {
                        "description": "Successfully requested refresh",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/units": {
            "get": {
                "tags": ["Units"],
                "summary": "Fetch meeting units.",
                "description": "Fetches units from a meeting.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit amount of units returned in result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Units successfully fetched",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "units": { "type": "object" },
                                        "limit": { "type": "integer" },
                                        "page": { "type": "integer" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees": {
            "get": {
                "tags": ["Attendees"],
                "summary": "Fetch meeting attendees.",
                "description": "Fetches attendees from a meeting.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit amount of units returned in result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee(s) successfully fetched",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "attendees": { "type": "object" },
                                        "limit": { "type": "integer" },
                                        "page": { "type": "integer" }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/upload/suspensions": {
            "post": {
                "tags": ["Attendees"],
                "summary": "Upload suspensions.",
                "description": "Upload suspensions via excel spreadsheet. This will update existing attendees, requires specific structure (row headers should have these titles: 'email', 'name', 'suspended', 'special', 'unanimous'), will not create attendees who have yet to be added.",
                "consumes": ["multipart/form-data"],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "type": "file",
                        "required": true,
                        "description": "The Excel file to upload."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendees have been updated.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/make-call-admin": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Make/revoke attendee admin status on call.",
                "description": "Make an attendee admin on the voice call for a meeting.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "makeAdmin": { "type": "boolean" }
                            },
                            "required": ["makeAdmin"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee set as admin",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/add-to-panel": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Add/remove an attendee panel member status on video call.",
                "description": "Add/remove an attendee panel member status on video call.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "addToPanel": { "type": "boolean" }
                            },
                            "required": ["addToPanel"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee added to the panel",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/suspensions": {
            "get": {
                "tags": ["Attendees"],
                "summary": "Get the suspension status of an attendee.",
                "description": "Get the suspension statuses of an attendee.",
                "responses": {
                    "200": {
                        "description": "Attendee suspension statuses",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "_id": { "type": "string" },
                                        "suspended": { "type": "boolean" },
                                        "special_suspended": { "type": "boolean" },
                                        "unanimous_suspended": { "type": "boolean" },
                                        "poll_suspended": { "type": "boolean" }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Attendees"],
                "summary": "Updates the suspension status of an attendee.",
                "description": "Updates the suspension status of an attendee.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "suspended": { "type": "boolean" },
                                "special_suspended": { "type": "boolean" },
                                "unanimous_suspended": { "type": "boolean" },
                                "poll_suspended": { "type": "boolean" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The suspension status of the attendee was updated",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/:meetingId/attendees/:attendeeId/set-physical": {
            "patch": {
                "tags": ["Attendees"],
                "summary": "Add/remove an attendee as in physical attendance.",
                "description": "Add/remove physical attendance status from an attendee.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "physical": { "type": "boolean" }
                            },
                            "required": ["physical"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendee added to the panel",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": { "type": "string" }
                            }
                        }
                    }
                }
            }
        }
    }
}
